@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');
:root{
    --primary:#FFFFFF;
    --secondary: #0077C0;
    --light:#C7EEFF;
    --black:#1D242B;
    --text-color: #000000;
    
}
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    transition: all .2s linear;
    color: var(--text-color);

}
body{
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0 2rem;
    background-color: var(--primary);
}
.nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
.logo{
    display: flex;
}
.logo-text{
    font-weight: 700;
    font-size: 28px;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    font-weight: 500;
    font-size: 20px;
}
.navbar:hover{
    color: var(--secondary);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--secondary);
    padding: 10px 28px;
    border-radius: 10px;
    font-weight: 600;
    color: var(--primary);
    font-size: 20px;
}
